#title {
    font-family: 'Fredoka One', cursive;
    color: white;
    text-align: center;
    font-size: 26px;
}

#gif-search {
    width: 200px;
}

#searchbar {
    margin-bottom: 20px;
}

.topic {
    width: 100px;
    height: 20px;
    margin: 0 auto;
}

#main {
    width: 500px;
    height: 75px;
    margin: 0 auto;
}

