#title {
    font-family: 'Fredoka One', cursive;
    color: white;
    text-align: center;
    font-size: 26px;
    animation-name: fancy;
    animation-duration: 5s;
    animation-iteration-count: 100;
    animation-direction: alternate;
}

#gif-search {
    width: 200px;
}

#searchbar {
    margin-bottom: 20px;
}

.topic {
    width: 100px;
    height: 20px;
    margin: 0 auto;
}

#main {
    width: 500px;
    height: 75px;
    margin: 0 auto;
}

.gif {
    float: left;
    margin: 5px;
    border: solid 1px white;
}

@keyframes fancy {
    0% {color: white;}
    20% {color: red;}
    40% {color: green;}
    60% {color: blue;}
    80% {color: yellow;}
    100% {color: purple;}
}

